{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .article {display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;align-items: center}
    .card {margin: 6px;}
    .recommendedCard {border-color: #1ea471;border-width: 2px}
    .descriptionText {margin: 8px}
</style>

<div class="example-wrapper">

    {% if app.user.id is defined %}
        {% if app.user.id == verify %}
            <div class="float-end">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Edit
                </button>
            </div>

            <!-- Modal -->
            {{ form_start(formUser) }}
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modify Profile</h5>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ form_row(formUser.username) }}
                            {{ form_row(formUser.work) }}
                            {{ form_row(formUser.content) }}
                        </div>
                        <div class="modal-footer">
                            {{ form_row(formUser.save) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(formUser) }}




        {% endif %}
    {% endif %}


    <h2>{{ user.username }}</h2>
    {% if user.work is not null %}
        <p>work : {{ user.work }}</p>
    {% endif %}
    <p>A rejoint le site le {{ user.date|date('d-m-Y') }}</p>
    <p>nombre d'article: {{ article|length }}</p>
    <p>nombre de commentaire: {{ comment|length }}</p>
    {% if user.content is not null %}
        <div class="border rounded"><p class="descriptionText">{{ user.content }}</p></div>
    {% endif %}





    {% if article != [] %}
    <h2>article:</h2>
    <div class="article">
        {% for x in article %}
            {% if x.upvote >=3 %}
            <div class="card recommendedCard" style="width: 18rem;">
                {% else %}
                <div class="card" style="width: 18rem;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ x.title }}</h5>
                    <p class="card-text" >{{ x.chapeau|raw }}</p>
                    <p>écrit le {{ x.date|date('d-m-Y') }}</p>
                    <a href="http://localhost:8000/article/{{ x.slug }}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        {% endfor %}
    </div>
        {% endif %}
</div>
{% endblock %}
