{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .article {display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;align-items: center}
    .card {margin: 6px;}
    .recommendedCard {border-color: #1ea471;border-width: 2px}
</style>

<div class="example-wrapper">
    <h2>{{ user.username }}</h2>
    <p>{{ user.work }}</p>
    <p>{{ user.content }}</p>
    <p>A rejoint le site le {{ user.date|date('d-m-Y') }}</p>
    <p>nombre d'article: {{ article|length }}</p>
    <p>nombre de commentaire: {{ comment|length }}</p>
    <h2>article: </h2>
    <div class="article">
        {% for x in article %}
            {% if x.upvote >=3 %}
            <div class="card recommendedCard" style="width: 18rem;">
                {% else %}
                <div class="card" style="width: 18rem;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ x.title }}</h5>
                    <p class="card-text" >{{ x.chapeau|raw }}</p>
                    <p>écrit le {{ x.date|date('d-m-Y') }}</p>
                    <a href="http://localhost:8000/article/{{ x.slug }}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
