{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{# render the profile of the user#}
{% block body %}


<div>
{# check if the user that see this page is the same user as the profile #}
    {% if app.user.id is defined %}
        {% if app.user.id == verify %}
            <div class="float-end ms-2">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">
                    Edit
                </button>
            </div>

            {{ form_start(formUser) }}
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modify Profile</h5>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ form_row(formUser.username) }}
                            {{ form_row(formUser.work) }}
                            {{ form_row(formUser.content) }}
                        </div>
                        <div class="modal-footer">
                            {{ form_row(formUser.save) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(formUser) }}

            <div class="float-end">

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal2">
                    Delete Account
                </button>
            </div>

            <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete your account</p>
                        </div>
                        <div class="modal-footer">
                            {{ form(formDeleteUser)}}
                        </div>
                    </div>
                </div>
            </div>



        {% endif %}
    {% endif %}


    <h2>{{ user.username }}</h2>
    {# if the user has not set a description and/or work it don't generate them #}
    {% if user.work is not null %}
        <p>work : {{ user.work }}</p>
    {% endif %}
    <p>A rejoint le site le {{ user.date|date('d-m-Y') }}</p>
    <p>nombre d'article: {{ article|length }}</p>
    <p>nombre de commentaire: {{ comment|length }}</p>
    {% if user.content is not null %}
        <div class="border rounded"><p class="m-3">{{ user.content }}</p></div>
    {% endif %}




    {# check if the user has article and show all the article made by the user#}
    {% if article != [] %}
    <h2>article:</h2>
    <div class="d-flex flex-row flex-wrap justify-content-around align-content-center">
        {% for x in article %}
            {% if x.upvote >=3 %}
            <div class="card recommendedCard" style="width: 18rem;border-color: #1ea471;border-width: 2px">
                {% else %}
                <div class="card m-2" style="width: 18rem;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ x.title }}</h5>
                    <p class="card-text" >{{ x.chapeau|raw }}</p>
                    <p>écrit le {{ x.date|date('d-m-Y') }}</p>
                    <a href="http://localhost:8000/article/{{ x.slug }}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        {% endfor %}
    </div>
        {% endif %}
</div>
{% endblock %}
