{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .homepage {display: flex; flex-direction: row}
        .welcome {margin-right: 10px}
        .recommendedArticle {float: right}
        .latestArticle {float: right}
        .recommendedCard {border-color: #1ea471;border-width: 2px}
    </style>
    <div class="homepage">
        <div class="welcome">
            <h2>Welcome to tim Blog</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed a iaculis risus. Pellentesque risus enim, dapibus pharetra
                hendrerit nec, vehicula in urna. Praesent tincidunt iaculis turpis,
                a eleifend nisl luctus nec. Sed ut urna rhoncus massa dignissim vehicula.
                Quisque ac odio in libero condimentum suscipit dapibus sed magna. Praesent sit
                amet sem maximus, egestas tellus et, eleifend nisl. Vestibulum facilisis eu ligula
                sit amet malesuada.</p>

            <h3>Praesent blandit</h3>
            <p>Quisque consequat dictum risus. Proin dapibus bibendum maximus.
                Mauris sed faucibus risus. Donec bibendum dui sed leo varius vehicula.
                Integer in nulla vehicula, tristique turpis ut, commodo nibh. Aliquam erat
                volutpat. Praesent blandit varius erat eu mattis. Pellentesque malesuada sit amet
                nisl eget posuere. Donec ut lectus facilisis, eleifend massa sit amet, ultricies neque.
                Duis id neque dapibus, efficitur nulla ut, finibus felis. Vivamus faucibus lobortis
                vulputate. Sed tristique eget tellus vitae pellentesque. Quisque placerat ex eget nisl
                dignissim, eu mollis ex molestie. Pellentesque et dui facilisis, placerat leo in,
                tristique turpis. Proin aliquet bibendum tortor. Suspendisse potenti.</p>

            <h3>Suspendisse arcu</h3>
            <p>Integer non dui varius, porttitor magna sit amet, ultricies erat. Nulla in ex hendrerit,
                dapibus lorem vitae, feugiat nulla. Integer faucibus, purus in iaculis molestie, orci erat
                vehicula sem, nec facilisis odio turpis vitae tortor. Interdum et malesuada fames ac ante
                ipsum primis in faucibus. Mauris a gravida odio, quis viverra lorem. Aenean a massa nisl.
                Donec in ex felis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Pellentesque dignissim euismod ex, ac vehicula nisi eleifend vitae. Mauris hendrerit
                nibh eu turpis pellentesque, non molestie elit cursus. Vivamus sem ipsum, accumsan ac leo a,
                efficitur fermentum lorem. Suspendisse arcu mauris, eleifend ut magna sed, sollicitudin
                feugiat turpis.</p>
        </div>
        <div class="article">
            <div class="recommendedArticle">
                {% if 0 < recommended|length  %}
                    <h1>
                        Recommended article
                    </h1>
                    {% for x in recommended %}
                        <div class="card recommendedCard" style="width: 18rem;">
                            <div class="card-body ">
                                <h5 class="card-title">{{ x.title }}</h5>
                                <p class="card-text">{{ x.chapeau|raw }}</p>
                                <p>écrit le {{ x.date|date('d-m-Y') }} par <a href="http://localhost:8000/profile/{{ x.userid.id }}">{{ x.userid.email }}</a></p>
                                <a href="http://localhost:8000/article/{{ x.slug }}" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="latestArticle">
                {% if result|length >2 %}
                    <h1>
                        Latest article
                    </h1>
                    {% for x in 0..2 %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ result[x].title }}</h5>
                                <p class="card-text">{{ result[x].chapeau|raw }}</p>
                                <p>écrit le {{ result[x].date|date('d-m-Y') }} par <a href="http://localhost:8000/profile/{{ result[x].userid.id }}">{{ result[x].userid.email }}</a></p>
                                <a href="http://localhost:8000/article/{{ result[x].slug }}" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>




{% endblock %}
