{% extends '@!EasyAdmin/layout.html.twig' %}



{% block sidebar %}

    <header class="main-header">
        <nav class="navbar" role="navigation">
            <div id="header-logo">
                <a class="logo" title="Blog Dashboard" href="/admin">
                    <span class="logo-custom">Blog Dashboard</span>
                    <span class="logo-compact">
                        <i class="fas fa-home"></i>
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <nav id="main-menu">
        <ul class="menu">
            <li class="menu-item">
                <a href="http://localhost:8000/admin?routeName=app_home" class="menu-item-contents" target="_self" rel referrerpolicy="origin-when-cross-origin">
                    <i class="menu-icon fa-fw fas fa-dashboard">

                    </i>
                    <span class="menu-item-label position-relative">Home</span>
                </a>
            </li>
            <li class="menu-item active">
                <a href="http://localhost:8000/admin?routeName=admin" class="menu-item-contents" target="_self" rel referrerpolicy="origin-when-cross-origin">
                    <i class="menu-icon fa-fw fas fa-dashboard">

                    </i>
                    <span class="menu-item-label position-relative">Admin Home</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="http://localhost:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CArticleCrudController" class="menu-item-contents" target="_self" rel referrerpolicy="origin-when-cross-origin">
                    <i class="menu-icon fa-fw fas fa-list">

                    </i>
                    <span class="menu-item-label position-relative">Article</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="http://localhost:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CCommentCrudController" class="menu-item-contents" target="_self" rel referrerpolicy="origin-when-cross-origin">
                    <i class="menu-icon fa-fw fas fa-list">

                    </i>
                    <span class="menu-item-label position-relative">Comment</span>
                </a>
            </li>
            {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                <li class="menu-item">
                    <a href="http://localhost:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CReportArticleCrudController" class="menu-item-contents" target="_self" rel referrerpolicy="origin-when-cross-origin">
                        <i class="menu-icon fa-fw fas fa-list">
                        </i>
                        <span class="menu-item-label position-relative">Report Article</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="http://localhost:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CReportCommentCrudController" class="menu-item-contents" target="_self" rel referrerpolicy="origin-when-cross-origin">
                        <i class="menu-icon fa-fw fas fa-list">
                        </i>
                        <span class="menu-item-label position-relative">Report Comment</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="http://localhost:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CVoteCrudController" class="menu-item-contents" target="_self" rel referrerpolicy="origin-when-cross-origin">
                        <i class="menu-icon fa-fw fas fa-list">
                        </i>
                        <span class="menu-item-label position-relative">Vote</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="http://localhost:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CUserCrudController" class="menu-item-contents" target="_self" rel referrerpolicy="origin-when-cross-origin">
                        <i class="menu-icon fa-fw fas fa-list">

                        </i>
                        <span class="menu-item-label position-relative">User</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block main %}

    <section class="main" >
        <article class="content">
            <section class="content-header">
                <div class="content-header-title">
                    <h1 class="title">Number of Article created per month</h1>
                </div>
            </section>
            <section id="main" class="content-body">
                <div class="chart-container" style="position: relative;width: 60vw">
                    {{ render_chart(chart2,{'id': 'chart2'}) }}
                </div>
            </section>

        </article>
        <article class="content" >
            <section class="content-header">
            </section>
            <section id="main" class="content-body">
                <h4>Nombre d'article crée depuis votre dernière visite : {{ a|length }}</h4>
            </section>
        </article>
        <article class="content" >
            <section class="content-header">
                <div class="content-header-title">
                    <h1 class="title">Number of registration per month</h1>
                </div>
            </section>
            <section id="main" class="content-body">
                <div class="chart-container" style="position: relative;width: 60vw">
                    {{ render_chart(chart,{'id': 'chart'}) }}
                </div>
            </section>
        </article>
        <article class="content" >
            <section class="content-header">
            </section>
            <section id="main" class="content-body">
                <h4>Nombre d'utilisateur crée depuis votre dernière visite : {{ u|length }}</h4>
            </section>
        </article>
        <article>
            {% if 0 < rA|length  %}
                <section>
                    <article class="content" >
                        <section class="content-header">
                        </section>
                        <section id="main" class="content-body">
                            <h4>Article reported</h4>
                        </section>
                    </article>
                    <table class="table text-light w-75">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">upvote</th>
                            <th scope="col">title</th>
                            <th scope="col">content</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in rA %}
                            <tr>
                                <th scope="row">{{ x.id }}</th>
                                {% if x.upvote is null %}
                                    <td>0</td>
                                {% else %}
                                    <td>{{ x.upvote }}</td>
                                {% endif %}
                                <td data-column="chapeau" data-label="Chapeau" class=" text- field-text_editor" dir="ltr">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#ea-text-editor-01HBWPY7CZV7SW42AGNJBKG2BS{{ x.id }}">
                                        <i class="far fa-file-alt"></i> View title
                                    </a>

                                    <div class="modal fade" id="ea-text-editor-01HBWPY7CZV7SW42AGNJBKG2BS{{ x.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ x.title }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td data-column="chapeau" data-label="Chapeau" class=" text- field-text_editor" dir="ltr">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#ea-text-editor-01HBWPY7CZV7SW42AGNJBKG2BS2{{ x.id }}">
                                        <i class="far fa-file-alt"></i> View content
                                    </a>

                                    <div class="modal fade" id="ea-text-editor-01HBWPY7CZV7SW42AGNJBKG2BS2{{ x.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">content</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ x.content }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td><a href="/admin/article/delete/{{ x.slug }}" class="btn btn-danger" style="float: right">Delete Article</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
            {% endif %}
        </article>
        <article>
            {% if 0 < rC|length  %}
                <section>
                    <article class="content" >
                        <section class="content-header">
                        </section>
                        <section id="main" class="content-body">
                            <h4>Comment reported</h4>
                        </section>
                    </article>
                    <table class="table text-light w-75">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">content</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in rC %}
                            <tr>
                                <th scope="row">{{ x.id }}</th>
                                <td data-column="chapeau" data-label="Chapeau" class=" text- field-text_editor" dir="ltr">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#ea-text-editor-01HBWPY7CZV7SW42AGNJBKG2BS3{{ x.id }}">
                                        <i class="far fa-file-alt"></i> View content
                                    </a>

                                    <div class="modal fade" id="ea-text-editor-01HBWPY7CZV7SW42AGNJBKG2BS3{{ x.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">content</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ x.content }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="/admin/comment/delete/{{ x.id }}" class="btn btn-danger" style="float: right">Delete Comment</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
            {% endif %}
        </article>

    </section>









{% endblock %}