{% extends 'base.html.twig' %}

{% block title %}Hello ReadArticleController!{% endblock %}

{% block body %}
<style>
    .article {display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;align-items: center}
    .card {margin: 6px;}
    .recommendedCard {border-color: #1ea471;border-width: 2px}
</style>
<div class="article">
    {% for x in result %}
        {% if x.upvote >=3 %}
            <div class="card recommendedCard" style="width: 18rem;">
        {% else %}
                <div class="card" style="width: 18rem;">
        {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ x.title }}</h5>
                <p class="card-text" >{{ x.chapeau|raw }}</p>
                <p>écrit le {{ x.date|date('d-m-Y') }} par <a href="http://localhost:8000/profile/{{ x.userid.id }}">{{ x.userid.email }}</a></p>
                <a href="http://localhost:8000/article/{{ x.slug }}" class="btn btn-primary">Read more</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
