{% extends 'base.html.twig' %}
{% block title %}Hello ShowArticleController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <h1>{{ resultA.title }}</h1>
    <p>{{ resultA.content|raw }}</p>
    <h4>écrit par:{{ author }} publié le: {{ resultA.date|date('d-m-Y') }} à {{ resultA.date|date('H:i:s') }}</h4>
    <h1>Commentaire</h1>
    {% for x in resultC %}
        <h2>{{ x.author|raw }}</h2>
        <p>{{ x.content|raw }}</p>
        <p>écrit le :{{ x.date|date('d-m-Y') }} à {{ x.date|date('H:i:s') }}</p>
    {% endfor %}


    {% if is_granted('ROLE_USER') %}
        {{ form(form) }}

    {% else %}
    <h2>{{ form }}</h2>
    {% endif %}
{% endblock %}
